body {
   padding: 0;
   margin: 0;
}

html, body, #map {
   position: absolute;
   width: 100vw;
   height: 100%;
}

#box{
position: fixed;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1001;
}

#popup{
height: auto;
background: #FFFFFF;
border: 1px solid #000;
font-family: "Arial", arial, sans-serif;
}



#baseMaps{
font-size: 1em;
}
